body{
  font-family: 'Open Sans';
  color: white;
  background-image:url(stefan-vAfswwbo8Oo-unsplash.jpg);
  background-size: cover;
}

header{
  width: 90%;
  margin: 20px auto;
 
}


.container{
  width: 90%;
  margin: 20px auto;
  padding: 10px 10px;
  text-align: left;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.466);
}


.header-search {
  font-size: 14px;
  margin-bottom: 4px;
  margin-top: 10px;
}

.enter-city{
  width: 340px;
  height: 30px;
  padding-left: 20px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0); 
}

.press-button {
  width: 36px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: white;
}

.press-button:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.493);
}

.weather{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 100px;
  height: 200px;
}

.temp{
  font-size: 140px;
  margin-top: 20px;
}

.weather-icon{
  font-size: 200px;
  
}

.location{
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
  gap: 4px;
  margin-top: 24px;
  font-weight: bold;
  font-size: 22px;
}

.others{
  padding-left: 20px;
  display: grid;
  grid-template-columns: 2% auto;
  margin-top: 0px;

}

.feels_like{
  margin-top: 0px;
  font-size: 40px;
  padding-left: 20px;
}

.front-description{
  font-size: 28px;
  font-weight: lighter;
  padding-left: 20px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.others{
  font-size: 20px;
  font-weight: lighter;
}



#save-favorite{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  margin-left: 8px;
  border: white;
}

#save-favorite:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.466);
}

.location .bi{
  font-size: 20px;
}